.accordion {
  width: 100%;
  height: 44px;
  border: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion::after {
  content: "\02795";
  float: right;
  font-size: 13px;
  margin-left: 5px;
  color: #777;
}

.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
